---
import Layout from '../layouts/Layout.astro';
import Content from '../layouts/Content.astro';
import Panda from "../../public/panda.svg";
import Navbar from '../components/Navbar.astro';

---

<Layout title="Kine Kai Moe Holthe">
	<div class="main">
		<div class="nameContainer">
			<h1>
				<span class="text-gradient typing-animation">Kine Kai Moe Holthe</span>
			</h1>
		</div>
		<a href="#content" class="scroll-down">
			<span class="arrow-down"></span>
		</a>
	</div>

</Layout>
<Content>
		<div id="content">  
			<img src={Panda.src} width="250px">
		</div>
</Content>


<style>
	.nameContainer {
		display: flex;
		justify-content: center;
	}
	.main {
		height: 100vh;
		margin: auto;
		width: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		width: auto;
		text-wrap: wrap;
	}
	.text-gradient {
		color: #C492B1;
	}
	.typing-animation {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		animation: typing 4s steps(30, end), blink-caret 1s step-end 4;
		border-right: 4px solid #C492B1; /* Same color as text for caret */
	}
	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}
	@keyframes blink-caret {
		from, to {
			border-color: transparent;
		}
		50% {
			border-color: #C492B1;
		}
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 3rem;
		}
		.typing-animation {
			animation: typing 3s steps(20, end), blink-caret 1s step-end 3;
		}
	}

	@media (max-width: 480px) {
		h1 {
			font-size: 1.8rem;
		}
		.typing-animation {
			animation: typing 2s steps(15, end), blink-caret 1s step-end 2;
		}
	}

	.scroll-down {
		position: absolute;
		bottom: 50px;
		left: 50%;
		z-index: 2;
		display: inline-block;
		-webkit-transform: translate(0, -50%);
		transform: translate(-50%, 0);
		color: #ffffff;
		font-size: 3rem;
		text-decoration: none;
		text-shadow: 0 0 10px #C492B1;
		transition: transform 0.3s;
	}

	.arrow-down {
		display: block;
		width: 24px;
		height: 24px;
		border-bottom: 3px solid currentColor;
		border-right: 3px solid currentColor;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		animation: blink 5s infinite;
	}

	@keyframes blink {
		0% { opacity: 0; }
		50% { opacity: 0.8; }
		100% { opacity: 0; }
	}
</style>